.Intro{
    text-align:center;
    font-size: 150%;
    
}

.Card{
    background: linear-gradient(90deg, 
    hsla(224, 100%, 13%, 1) 0%, hsla(195, 100%, 24%, 1) 25%, 
    hsla(195, 100%, 33%, 1) 50%, hsla(195, 100%, 24%, 1) 75%, 
    hsla(224, 100%, 13%, 1) 100%); 
    color: white;
}

.DictWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
}

.WordInput{
  padding:10px;
  font-size:1.5rem;
  font-weight:bold;
  border: 2px solid rgba(57, 10, 119, 0.822) ;
  border-radius: 10px;
  margin:10px;
  width:250px;
}

button[type='submit']{
  padding: 0.6rem 1rem;
  font-weight: bold;
  font-size: 0.6rem;
  background: grey;
  border:none;
  cursor:pointer;
}
